#mapid {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  max-height: 100vh;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #f7f7f7;
}

.map {
  position: relative;
  width: 100%;
}

.embedded_map {
  width: 100%;
  background-color: #ddb3b3;
}

.example {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 5em;
  min-width: 5em;
  background-color: #ff5a5a;
}

.location_wrapper {
  width: 400px;
  /*max-width: 400px;*/
  background-color: #fff;
}

.location_picture {
  max-width: 400px;
  min-height: 226px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.location_container {
  padding: 1em;
}

.location_category {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: #dbffe6;
  color: #0c742c;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.location_title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.location_feed {
  display: -ms-grid;
  display: grid;
  padding-right: 1em;
  padding-left: 1em;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-roffgap: 1em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list-wrapper {
  display: none;
}

.collection-list-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.location_modal {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  overflow: auto;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#w-node-e1bdf6e1-bd56-7e1c-555f-f6430b30153b-a7771aab {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-edd8c4bd-571c-fbb8-0763-dfc7fcf8c5dc-a7771aab {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7a4f5159-8196-a670-0a6e-b089fb74842e-a7771aab {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_855a9c1e-1710-2ccf-528f-bb9635bab049-a7771aab {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_855a9c1e-1710-2ccf-528f-bb9635bab04a-a7771aab {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_855a9c1e-1710-2ccf-528f-bb9635bab04b-a7771aab {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

